{% extends 'base.html' %}

{% block head %}
<script>

    $(function () {
        total();
        {#    全选全消#}
        $('#check_all').click(function () {
    {#        获取当前全选框的状态#}

            state=$(this).prop('checked');
    {#        将其他的选矿 都设置成这个状态#}
            $(':checkbox:not(#ckeck_all)').prop('checked',state)
        });
        //选择
        $(':checkbox:not(#check_all)').click(function () {
            if($(this).prop('checked')){
{#                alert($(':checked').length);#}
                if($(':checked').length+1==$(':checkbox').length){
                    $('#ckeck_all').prop('checked',true);
                }
            }
            else{
                $('#check_all').prop('checked',false)
            }
        });

        //数量加
        //为所有的 add绑定点击事件
        $('.add').click(function () {

            txt=$(this).next();
            //数值加1，同时取消 焦点
            txt.val(parseFloat(txt.val())+1).blur();

        });
         $('.minus').click(function () {
            txt=$(this).prev();
             txt.val(parseFloat(txt.val())-1).blur()
             //数值加1，同时取消 焦点
        });
{#         $('#check_goods').click(function () {#}
{#             c = $(this).attr('checked');#}
{#         });#}
        //在blur事件里ajax 提交
        $('.num_show').blur(function () {
            count=parseFloat($(this).val());
            kucun=parseFloat($(this).attr('kucun'));
            if(count<1){
                alert('数量不能小于1');
                $(this).val(1);
                count = 1;
                $(this).focus();
                return;
            }
            else if(count>kucun){
             alert('数量不可超过库存');
             $(this).val(kucun);
             count = kucun;
             $(this).focus();
             return;
            }

            cart_id = $(this).parents('.cart_list_td').attr('id');
            $.get('/cart/edit'+cart_id+'_'+count+'/',function (data) {
                if(data.count==0){
                    //修改成功，计算总价
{#                    alert('ok');#}
                    total();
                }
                else {
                    //修改失败,改为原来 的值（回掉回来原来的值）
                    $(this).val(data.count)
                }
            })
        })
    });
    function cart_del(cart_id) {
            del = confirm('确定删除');
{#            cart_id = $(this).parents('.cart_list_td').attr('id');#}
{#            alert(cart_id);#}
            if(del){
                $.get('/cart/delete'+cart_id+'/',function (data) {
{#                    alert(data.ok);#}
                    if(data.ok==1){
                        //删掉哪一行 商品  界面元素
{#                        alert('删除');#}
                        $('ul').remove('#'+cart_id);
                        total();
                    }
                })
            }
        }
    function total(){
        total1=0;
        total_count=0;

            $('.col07').each(
                function () {

                //获取数量
                count=$(this).prev().find('input').val();
                //获取单价
                price = $(this).prev().prev().text();
                //计算小计
                total0=parseFloat(count)*parseFloat(price);
                //显示小计
{#                checked = $(this).prev().prev().prev().prev().prev().prev().find('input').attr('checked')#}
{#                if(checked == 'checked')#}
{#                {}#}
                    $(this).text(total0.toFixed(2));
                //加到总计上
                total1 += total0;
                total_count++;
            });
            //显示总计
            $('#total').text(total1.toFixed(2));
            $('.total_count1').text(total_count);
        }
    function go_order() {
        s = '';
        $(':checked:not(#check_all)').each(function () {
             id = $(this).parents('.cart_list_td').attr('id');

             s = s +'cart_id='+id + '&'

        });

        //删掉最后一个&

        s=s.substring(0,s.length-1);
		
		{#                        alert(s);#}
        location.href = '/order?'+s ;

        }
</script>
{% endblock head %}

{% block center_body %}
	<div class="total_count">全部商品<em>{{ carts|length }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品单价</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

    {% for cart in carts %}
	<ul class="cart_list_td clearfix" id="{{ cart.id }}">
		<li class="col01"><input type="checkbox" name="" id="check_goods" checked="checked"></li>
		<li class="col02"><img src="{{ MEDIA_URL }}{{ cart.goods.gpic }}"></li>
		<li class="col03">{{ cart.goods.gtitle }}<br><em>{{ cart.goods.gprice }}元/{{ cart.goods.gunit }}</em><br><em>库存：<span id="goods_kucun">{{ cart.goods.gkucun }}</span></em></li>
		<li class="col04">{{ cart.goods.gunit }}</li>
		<li class="col05">{{ cart.goods.gprice }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{ cart.count }}" kucun="{{ cart.goods.gkucun }}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07"></li>
		<li class="col08"><a href="javascript:cart_del({{ cart.id }});">删除</a></li>
	</ul>
    {% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="check_all" href="javascript:;"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em id="total"></em><br>共计<b class="total_count1"></b>件商品</li>
		<li class="col04"><a href="javascript:go_order()">去结算</a></li>
	</ul>

{% endblock center_body %}